@import "utils/variables";

*, *::after, *::before {
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "assets/font-loader.scss";

body {
   font-family: "comfortaa-regular", sans-serif;
   color: $black;
}

h1, h2 {
   font-family: "poppins-semibold", sans-serif;
}
 
 h3, h4 {
   font-family: "poppins-medium", sans-serif;
}
 
 h1 {
    font-size: $size-h1;
 }
 h2 {
    font-size: $size-h2;
 }
 h3 {
    font-size: $size-h3;
 }
 h4 {
    font-size: $size-h4;
 }
 
 p, a {
    font-family: "comfortaa-medium";
    color: $black;
    font-size: $size-paragraph;
 }

// default components
@import "assets/buttons";
@import "assets/inputs";

/* LAYOUT */
@import "layout/header.scss";
@import "layout/footer.scss";

/* VIEWS */
// errors
@import "views/errors/404";

// authentication
@import "views/authentication/login";

// account
@import "views/account/profile";
 
// bookings
@import "views/bookings/finalize-booking.scss";
@import "views/bookings/booking.scss";

@import "views/home-and-housing-list.scss";
// liste réservation
@import "views/backoffice/booking/liste_reservation_proprietaire.scss";

@import "views/detailsLogement.scss";

// backoffice
@import "views/backoffice/layout/header.scss";
@import "views/backoffice/authentication/login.scss";
@import "views/backoffice/home.scss";

@import "views/home-and-housing-list.scss";

@import "views/backoffice/accomodations/new-accommodation.scss";

@import "views/backoffice/accomodations/detailsLogementProprietaire.scss";

@import "views/devisLogement.scss";

@import "views/notification.scss";