@import "utils/variables";
@import "utils/variables-front-office";

*,
*::after,
*::before {
   outline: none;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@import "assets/font-loader.scss";

body {
   font-family: "comfortaa-regular", sans-serif;
   color: $black;
}

h1,
h2 {
   font-family: "poppins-semibold", sans-serif;
} 

h3,
h4 {
   font-family: "poppins-medium", sans-serif;
}

h1 {
   font-size: $size-h1;
}

h2 {
   font-size: $size-h2;
}

h3 {
   font-size: $size-h3;
}

h4 {
   font-size: $size-h4;
}

p {
   font-family: "comfortaa-medium";
   font-size: $size-paragraph;
}

// default components
@import "assets/buttons";
@import "assets/inputs";

/* LAYOUT */
@import "layout/header";
@import "layout/footer"; 

/* VIEWS */

// errors
@import "views/errors/404";

// home page
@import "views/home";

// authentication
@import "views/authentication/login";

// account
@import "views/account/profile";


// backoffice
@import "views/backoffice/layout/header.scss";

@import "views/backoffice/accomodations/new.scss";

//scss
@import "views/detailsLogement.scss";