$brown-1: #b6896c !default;
// primary colors from front-office
$primary-1: #1b5734 !default;
$primary-2: #337d51 !default;
$primary-3: #abbdc0 !default;
$primary-4: #e0ffee !default;

// primary colors from backoffice
$primary-backoffice-1: #804e2e !default;
$primary-backoffice-2: #9f6844 !default;
$primary-backoffice-3: #b6896c !default;
$primary-backoffice-4: #ffd6bb !default;

// common variables
$black: #222524 !default;
$gray-1: #424645 !default;
$gray-2: #676767 !default;
$gray-3: #eaeaea !default;
$gray-4: #f7f7f7 !default;

$beige-1: #fff1cc !default;
$beige-2: #fff7e2 !default;

$red-1: #ce4b4b !default;
$red-1-200: #ffd0d0 !default;

$white: white !default;

$size-h1: 2em !default;
$size-h2: 1.5em !default;
$size-h3: 1.25em !default;
$size-h4: 1.15em !default;

$size-paragraph: 1em !default;

