# ignore global IDE
.idea/*
.vscode/*

# For MacOS
.DS_Store

docker-compose.yml

# ignore all files from css file except theses
html/assets/css/*
!html/assets/css/main.css
!html/assets/css/materialdesignicons.min.css

html/assets/scss/**/*.css
html/assets/scss/**/*.css.map

# WSL smell files
*.Identifier

# ignore prepros config
prepros.config

html/files/*
./common/scss-entrypoint.sh