# ignore global IDE
.idea/*
.vscode/*

# For MacOS
.DS_Store

# ignore all files from css file except theses
html/assets/css/*
!html/assets/css/main.css
!html/assets/css/materialdesignicons.min.css

# ignore prepros config
prepros.config