#modification-logement {
    width: 58em;
    margin: auto;

    &>button.back {
        font-size: 1em;
        margin-top: 2em;
        margin-bottom: 1em;
        padding: unset;
        color: $gray-1;
    }

    &>form {

        &>section {
            &:first-of-type {
                margin-top: unset;
            }
            margin: 2em 0;
            padding: 1em 2em;
            border-radius: 20px;
            box-shadow: 0 0 4px 0 rgba(162, 162, 162, .54);

            #image_logement{
                background-size: cover;
            }

            .modifie_photo{
                width: 10px !important;
                margin-right: 2em;
                text-align: center;
            }

            &>h2, &>h3 {
                font-family: "poppins-medium", sans-serif;
                font-weight: normal;
            }
            
            &>h2 {
                color: $gray-1;
            }

            &>h3 {
                color: $gray-2;
                margin-bottom: 1em;
            }

            // actions
            footer {
                display: flex;
                gap: 1em;
                justify-content: flex-end;
                margin-top: 1em;
                padding-top: 1em;
                border-top: 1px solid $gray-3;
            }
        }

        & .error-message {
            background-color: $red-1-200;
            color: $red-1;
            padding: .8em 1em;
            border-radius: 10px;
            margin: .8em 0;
            font-size: .9em;

            display: none;

            position: relative;

            padding-left: 2.3em;
            &::before {
                position: absolute;
                left: 10px;
                font-size: 1.2em;
            }
        }

        // global accommodation information
        &>section:nth-of-type(1) {
            // global infos
            &>section:nth-last-of-type(1) {
                display: flex;
                gap: 2em;

                &>article {
                    margin-top: 1em;
                    margin-bottom: 3em;
                    width: 50%;
 
                    &:first-of-type {
                        &.error>label {
                            background-color: $red-1-200;
                            &>.mdi {
                                color: $red-1 !important;
                            }
                        }
                        &>label {
                            position: relative;
                            display: block;
                            
                            width: 100%;
                            height: 100%;
                            
                            background-color: $gray-3;
                            border-radius: 10px;
                            
                            cursor: pointer;
                            
                            &.uploaded {
                                background-color: $primary-frontoffice-4 !important;
                            }

                            &>.mdi.mdi-check {
                                color: $primary-frontoffice-1 !important;
                            }
                            
                            &>.mdi {
                                font-size: 4em;
                                color: $gray-1;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }

                        &>.alert {
                            display: block;
                            margin-top: .5em;
                            font-size: .9em;

                            &>.mdi.mdi-alert {
                                color: $red-1;
                                font-size: 1.3em;
                            }
                        }
                        &>input[type="file"] {
                            display: none;
                        }
                    }

                    #bouton_photo_logement{
                        display: none;
                    }

                    &:last-of-type {
                        &>.form-field {
                            margin: 1em 0;
                        }
                    }
                }
            }

            // description
            &>.form-field.description {
                &>textarea {
                    min-height: 5em;
                }

                border-bottom: 1px solid $gray-3;
                padding-bottom: 1em;
                margin-bottom: 1em;
            }

            // attributes
            &>.attributes {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1em;

                &>.form-field input[type="number"] {
                    width: 5em;
                }
            }
        }

        &>section:nth-of-type(2) {
            &>.form-field {
                &>select {
                    width: 20%;
                }

                &>input {
                    width: 41%;
                }
            }
            & .form-field {
                margin: 1em 0;
            }
            & .address-number {
                width: 5em;
            }
            & .address-name {
                width: 16em;
            }
            & .inline {
                margin-top: -1em;
                display: flex;
                gap: 1em;
            }
        }

        &>section:nth-of-type(3) {
            &>.layouts {
                display: flex;
                gap: 2em;
            }
            & .form-field {
                margin: 1em 0;
            
                &.activities {
                    display: flex;
                    gap: 1em;
                    align-items: center;
    
                    &>select {
                        width: 10em;
                        border-radius: 100px;
                        border-width: 2px;
                        font-size: .7em;
                        padding: .5em 1em;
                    }

                    &>.distance {
                        display: none;
                    }
                }
            }
        }
    
        &>section:nth-of-type(4) {
            &>.form-field {
                margin: 1em 0;

                &>input[type="number"] {
                    width: 10%;
                }
            }
            &>.price-ati {
                margin: 1em 0;
                &>span {
                    display: block;
                }
                &>.title {
                    font-size: .9em;
                    color: $gray-2;
                }
                &>#price-ati {
                    margin-top: .5em;
                    font-size: 1.5em;
                    font-family: "poppins-regular", sans-serif;
                }
            }
        }
    }

}