/* Error: expected "{".
 *    ,
 * 66 | @import "views/backoffice/accomodations/new.scss";
 *    |                                                  ^
 *    '
 *   /sass/main.scss 66:50  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  color: #676767;
  margin-bottom: 0.5em;
  text-align: start;
}

input, textarea {
  font-family: "comfortaa-regular", sans-serif;
  padding: 0.8em 0.5em;
  border-radius: 7px;
  border: 1px solid #676767;
  width: 100%;
}
input:disabled, textarea:disabled {
  opacity: 60%;
}
input:is(:hover, :focus), textarea:is(:hover, :focus) {
  border-color: #1b5734;
}

textarea {
  resize: vertical;
}

/* VIEWS */
.center {
  text-align: center;
  margin: 1em 0;
}
.center > * {
  font-weight: normal;
}

.modal#authentication-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.modal#authentication-modal > .center {
  background-color: white;
  border-radius: 10px;
  padding: 2em 3em;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 30em;
  animation: modal-open 0.5s forwards;
  transform: translate(-50%, -50%);
}
.modal#authentication-modal > .center > .error-message {
  background-color: #ffd0d0;
  color: #ce4b4b;
  padding: 0.8em 1em;
  border-radius: 10px;
  margin: 0.8em 0;
  font-size: 0.9em;
  display: none;
  position: relative;
  padding-left: 2.3em;
}
.modal#authentication-modal > .center > .error-message::before {
  position: absolute;
  left: 10px;
  font-size: 1.2em;
}
.modal#authentication-modal > .center > h3 {
  text-align: center;
  font-weight: normal;
  font-family: "poppins-regular", sans-serif;
  color: #222524;
}
.modal#authentication-modal > .center > .close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #f7f7f7;
  color: #222524;
  font-size: 1.1em;
  padding: 0.3em 0.6em;
}
.modal#authentication-modal > .center > img {
  width: 14em;
  margin: 0.5em auto;
  display: block;
}
.modal#authentication-modal > .center > form > .form-field {
  margin: 1em 0;
}
.modal#authentication-modal > .center > form > .forgot-password {
  color: #222524;
  display: block;
  text-align: end;
  font-size: 0.9em;
  margin-bottom: 0.7em;
}
.modal#authentication-modal > .center > form > button {
  width: 100%;
}
.modal#authentication-modal > .center > form > button:first-of-type {
  margin-top: 1em;
}
.modal#authentication-modal > .center > form > .another-choice {
  display: block;
  margin: 1.5em 0;
  color: #676767;
  text-align: center;
  position: relative;
}
.modal#authentication-modal > .center > form > .another-choice > .text {
  display: block;
  background-color: white;
  margin: auto;
  width: fit-content;
  padding: 0 1em;
  position: relative;
  z-index: 99;
}
.modal#authentication-modal > .center > form > .another-choice > .line {
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f7f7f7;
}
@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-area {
  width: fit-content;
  margin: 1em auto;
  border-radius: 15px;
}
.profile-area > h1 {
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 66 \2502  @import "views/backoffice/accomodations/new.scss";\a    \2502                                                   ^\a    \2575 \a   /sass/main.scss 66:50  root stylesheet';
}

#login {
  height: 100vh;
  background-color: #222524;
}
#login > form {
  width: 30em;
  height: 90%;
  align-content: center;
  margin: 0 auto;
}
#login > form > .error-message {
  background-color: #ffd0d0;
  color: #ce4b4b;
  padding: 0.8em 1em;
  border-radius: 10px;
  margin: 0.8em 0;
  font-size: 0.9em;
  display: none;
  position: relative;
  padding-left: 2.3em;
}
#login > form > .error-message::before {
  position: absolute;
  left: 10px;
  font-size: 1.2em;
}
#login > form > h2 {
  text-align: center;
  font-weight: normal;
  font-family: "poppins-regular", sans-serif;
  color: white;
}
#login > form > img {
  width: 14em;
  margin: 0.5em auto;
  display: block;
  filter: invert(1);
}
#login > form > .form-field {
  margin: 1em 0;
}
#login > form > .form-field > label {
  color: white;
}
#login > form > .form-field > input {
  background-color: #424645;
  color: white;
  transition: 0.5s ease all;
}
#login > form > .form-field > input:is(:hover, :focus) {
  border-color: white;
}
#login > form > .forgot-password {
  color: #222524;
  display: block;
  text-align: end;
  font-size: 0.9em;
  margin-bottom: 0.7em;
  color: white;
}
#login > form > button {
  width: 100%;
}
#login > form > button:first-of-type {
  margin-top: 1em;
}
#login > form > .another-choice {
  display: block;
  margin: 1.5em 0;
  color: #676767;
  text-align: center;
  position: relative;
}
#login > form > .another-choice > .text {
  display: block;
  background-color: #222524;
  margin: auto;
  width: fit-content;
  padding: 0 1em;
  position: relative;
  z-index: 99;
  color: white;
}
#login > form > .another-choice > .line {
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f7f7f7;
}
