@charset "UTF-8";
*,
*::after,
*::before {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "comfortaa-bold";
  src: url(../fonts/comfortaa-bold.ttf);
}
@font-face {
  font-family: "comfortaa-light";
  src: url(../fonts/comfortaa-light.ttf);
}
@font-face {
  font-family: "comfortaa-medium";
  src: url(../fonts/comfortaa-medium.ttf);
}
@font-face {
  font-family: "comfortaa-regular";
  src: url(../fonts/comfortaa-regular.ttf);
}
@font-face {
  font-family: "comfortaa-semibold";
  src: url(../fonts/comfortaa-semibold.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(../fonts/poppins-semibold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(../fonts/poppins-bold.ttf);
}
@font-face {
  font-family: "poppins-light";
  src: url(../fonts/poppins-light.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(../fonts/poppins-medium.ttf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(../fonts/poppins-regular.ttf);
}
@font-face {
  font-family: "Material Design Icons";
  src: url(../../assets/fonts/materialdesignicons-webfont.ttf);
}
@font-face {
  font-family: "comfortaa-bold";
  src: url(../../assets/fonts/comfortaa-bold.ttf);
}
@font-face {
  font-family: "comfortaa-light";
  src: url(../../assets/fonts/comfortaa-light.ttf);
}
@font-face {
  font-family: "comfortaa-medium";
  src: url(../../assets/fonts/comfortaa-medium.ttf);
}
@font-face {
  font-family: "comfortaa-regular";
  src: url(../../assets/fonts/comfortaa-regular.ttf);
}
@font-face {
  font-family: "comfortaa-semibold";
  src: url(../../assets/fonts/comfortaa-semibold.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(../../assets/fonts/poppins-semibold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(../../assets/fonts/poppins-bold.ttf);
}
@font-face {
  font-family: "poppins-light";
  src: url(../../assets/fonts/poppins-light.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(../../assets/fonts/poppins-medium.ttf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(../../assets/fonts/poppins-regular.ttf);
}
body {
  font-family: "comfortaa-regular", sans-serif;
  color: #222524;
}

h1,
h2 {
  font-family: "poppins-semibold", sans-serif;
}

h3,
h4 {
  font-family: "poppins-medium", sans-serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;
}

p {
  font-family: "comfortaa-medium";
  font-size: 1em;
}

button {
  transition: all 0.5s ease;
  font-family: "comfortaa-regular", sans-serif;
  background-color: transparent;
  border: unset;
  cursor: pointer;
  border-radius: 100px;
  padding: 1em 1.3em;
}
button:is(.primary, .secondary):not(:disabled):focus {
  box-shadow: 0 0 0 3px #abbdc0;
}
button.primary:disabled, button.secondary:disabled {
  opacity: 60%;
  cursor: unset;
}
button.primary {
  background-color: #1b5734;
  color: white;
}
button.primary:not(:disabled):is(:hover, :focus) {
  background-color: #337d51;
}
button.secondary {
  border: 1px solid #1b5734;
  color: #1b5734;
}
button.secondary:not(:disabled):is(:hover, :focus) {
  background-color: #1b5734;
  color: white;
}

.form-field.error > label {
  color: #ce4b4b;
}
.form-field.error > input {
  position: relative;
  border-color: #ce4b4b;
}
.form-field.error > input, .form-field.error > input::placeholder {
  color: #ce4b4b;
}
.form-field > label {
  font-size: 0.9em;
  display: block;
  color: #676767;
  margin-bottom: 0.5em;
  text-align: start;
}

input {
  font-family: "comfortaa-regular", sans-serif;
  padding: 0.8em 0.5em;
  border-radius: 7px;
  border: 1px solid #676767;
  width: 100%;
}
input:disabled {
  opacity: 60%;
}
input:is(:hover, :focus) {
  border-color: #1b5734;
}

/* LAYOUT */
header {
  position: sticky;
  top: 0;
  z-index: 998;
  font-family: "comfortaa-regular";
  background-color: white;
  padding: 1em 2.5em 0 2.5em;
}
header .mdi {
  font-size: 1.5em;
}
header .mdi-menu {
  display: none;
}
header img {
  height: 3em;
}
header .fullsize-logo {
  display: block;
}
header .smallsize-logo {
  display: none;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  list-style: none;
  margin-left: 0.5em;
}
header nav ul li a {
  color: black;
}
header nav ul li a:hover {
  font-family: "comfortaa-bold";
  color: #1b5734;
}
header #sign-in-up-container, header #sign-in-up-button {
  display: flex;
  align-items: center;
  color: #1b5734;
}
header #sign-in-up-container button:hover, header #sign-in-up-button button:hover {
  font-family: "comfortaa-bold";
  background-color: #e0ffee;
}
header #header-bottom-stroke {
  height: 2px;
  background-color: #eaeaea;
  margin: 1em 0 0 0;
}

@media (max-width: 375px) {
  header {
    padding: 1em 1em 0 1em;
  }
  header .mdi {
    font-size: 2.5em;
  }
  header .mdi-menu {
    display: block;
  }
  header .fullsize-logo {
    display: none;
  }
  header .smallsize-logo {
    display: block;
  }
  header nav ul {
    display: none;
  }
  header #sign-in-up-button {
    display: none;
  }
}
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: "comfortaa-regular";
  color: white;
  background-color: black;
  padding: 1em;
  margin-top: auto; /* pour conserver le footer en bas de page */
}
footer a:visited {
  color: white;
}
footer nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
footer nav a {
  padding-left: 1em;
}

/* VIEWS */
.center {
  text-align: center;
  margin: 1em 0;
}
.center > * {
  font-weight: normal;
}

/* À CHANGER PLUS TARD, POUR GARDER LE FOOTER EN BAS DE PAGE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1000px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.housing-container {
  display: flex;
  justify-content: center;
}

.mdi {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

#image-cover {
  height: 350px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 255, 0)), url("../../../images/image-cover.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  border-radius: 1em;
  margin: 1em 2.5em;
  padding: 2em;
  color: white;
}
#image-cover h1 {
  font-family: "poppins-semibold";
  font-size: 2.5em;
}
#image-cover h2 {
  font-family: "poppins-regular";
  font-size: 1.5em;
}

#search-bar {
  display: flex;
  align-items: center;
  position: relative;
  top: -2.5em;
  gap: 0.5em;
  width: fit-content;
  padding: 0.5em;
  border-bottom: 2px #eaeaea solid;
  box-shadow: 0px 5px 5px #eaeaea;
  background-color: white;
  border-radius: 1em;
  margin: 0 auto;
}
#search-bar input, #search-bar button {
  border: none;
  border-radius: 1em;
}
#search-bar input {
  font-family: "comfortaa-medium";
  background-color: #f7f7f7;
  padding: 1.5em;
  width: auto;
}
#search-bar button {
  background-color: #1b5734;
  padding: 1em;
}
#search-bar .mdi-magnify {
  color: white;
}

#list-title-container {
  text-align: center;
}

.show-more-button-container {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-right: 2.5em;
  padding: 0.25em 0.5em;
}

.show-more-button {
  display: flex;
  align-items: center;
  color: #1b5734;
  border: solid 1px #1b5734;
  border-radius: 2em;
  margin-bottom: 1em;
  position: relative;
  top: -4em;
}

.housing-list {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, 250px);
  margin: 0 2.5em 2.5em 2.5em;
  justify-content: center;
}

.housing-image-item-container {
  width: 250px;
  height: 250px;
  background-color: #eaeaea;
  border-radius: 1em;
}

.housing-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}
.housing-item h4, .housing-item .housing-price-container {
  font-size: 14px;
}
.housing-item .housing-price {
  font-family: "comfortaa-bold";
}
.housing-item:hover {
  cursor: pointer;
}

abbr[title] {
  text-decoration: none;
}

.housing-description-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 250px;
  margin: 0.5em 0;
}

.housing-description {
  font-family: "comfortaa-bold";
  margin: 0 0.5em 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.housing-location-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: #b6896c;
  margin-bottom: 0.5em;
  width: 250px;
}

.mdi-star {
  font-size: 1em;
}

.housing-location {
  font-family: "comfortaa-regular";
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.housing-price-container {
  display: flex;
  font-family: "comfortaa-regular";
  font-size: small;
  gap: 0.5em;
}

.star-notation-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: fit-content;
  color: #1b5734;
  border: solid 1px #1b5734;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  background-color: #e0ffee;
}

.show-all-button {
  display: none;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
@media (max-width: 375px) {
  body {
    min-width: inherit;
  }
  #search-bar {
    width: 355px;
    justify-content: space-between;
  }
  #search-bar .arrival-date-input, #search-bar .departure-date-input, #search-bar .travelers-number-input {
    display: none;
  }
  #search-bar .mdi-account {
    display: none;
  }
  #search-bar input {
    width: inherit;
  }
  #image-cover {
    height: 250px;
    margin: 1em 0em;
    padding: 1em;
    border-radius: 0;
  }
  #image-cover h1 {
    font-family: "poppins-semibold";
    font-size: 2em;
  }
  #image-cover h2 {
    font-family: "poppins-regular";
    font-size: 1em;
  }
  #housing-list-title {
    font-size: 1em;
    margin: 0 auto 1em auto;
  }
  .show-more-button {
    display: none;
  }
  .housing-list {
    justify-content: center;
    grid-template-columns: 1fr;
  }
  .housing-image-item-container {
    width: 355px;
    height: 355px;
    background-color: #eaeaea;
    border-radius: 1em;
  }
  .housing-description-container {
    width: 355px;
  }
  .show-all-button-container {
    display: flex;
    justify-content: center;
  }
  .show-all-button {
    display: flex;
    align-items: center;
    padding: 0.25em 1em;
    color: white;
    background-color: #1b5734;
    border: solid 1px #1b5734;
    border-radius: 2em;
  }
  .show-all-button .mdi {
    margin-left: 8px;
    font-size: 20px;
  }
}
/***************************************/
/* HOUSING-LIST (A DEPLACER PLUS TARD) */
/***************************************/
#filter-housing-container {
  display: flex;
}

/* Menu des filtres */
.displayed {
  display: block;
}

.hidden {
  display: none;
}

#filter-container {
  position: sticky;
  align-self: flex-start;
  border-right: solid 2px #eaeaea;
  padding: 2.5em;
  min-width: 20em;
  height: 100%;
}
#filter-container > section {
  border-top: solid 1px #676767;
  margin-bottom: 2em;
}
#filter-container > section > :first-child {
  justify-content: space-between;
  margin-bottom: 1em;
}
#filter-container > section > div, #filter-container > section li {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
  list-style: none;
}
#filter-container > section > div > input, #filter-container > section li > input {
  width: auto;
}

#filter-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.5em;
}

.stars-notation-container {
  display: flex;
  flex-direction: column;
}

.stars-notation {
  margin-bottom: 1em;
  list-style: none;
  gap: 0;
}
.stars-notation .mdi-star::before {
  font-size: 25px;
}

/* Résultats logement */
.back-button {
  display: flex;
  align-items: center;
  padding: 0;
}

#housing-title-search-container {
  display: flex;
  justify-content: space-between;
}

.compact-search-bar {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0.5em;
  border-bottom: 2px #eaeaea solid;
  box-shadow: 0px 5px 5px #eaeaea;
  background-color: white;
  border-radius: 1em;
}
.compact-search-bar input, .compact-search-bar button {
  border: none;
  border-radius: 1em;
}
.compact-search-bar input {
  font-family: "comfortaa-medium";
  background-color: #f7f7f7;
  padding: 1.5em;
  width: auto;
}
.compact-search-bar button {
  background-color: #1b5734;
  padding: 1em;
}
.compact-search-bar .mdi-magnify {
  color: white;
}

#filter-sort-buttons-container {
  display: flex;
}

#filter-button {
  border-radius: 1em;
}

.housing-list {
  margin: 1em 0 2.5em 0;
}

#housing-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5em;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  font-family: "comfortaa-bold";
  color: #1b5734;
}
.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.pagination .mdi-chevron-left, .pagination .page-number, .pagination .mdi-chevron-right {
  border: solid 1px #1b5734;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}
.modal > .center {
  background-color: white;
  border-radius: 10px;
  padding: 2em 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  animation: modal-open 0.5s forwards;
  transform: translate(-50%, -50%);
}
.modal > .center > .error-message {
  background-color: #ffd0d0;
  color: #ce4b4b;
  padding: 0.8em 1em;
  border-radius: 10px;
  margin: 0.8em 0;
  font-size: 0.9em;
  display: none;
  position: relative;
  padding-left: 2.3em;
}
.modal > .center > .error-message::before {
  position: absolute;
  left: 10px;
  font-size: 1.2em;
}
.modal > .center > h3 {
  text-align: center;
  font-weight: normal;
  font-family: "poppins-regular", sans-serif;
}
.modal > .center > .close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #f7f7f7;
  font-size: 1.1em;
  padding: 0.3em 0.6em;
}
.modal > .center > img {
  width: 14em;
  margin: 0.5em auto;
  display: block;
}
.modal > .center > form > .form-field {
  margin: 1em 0;
}
.modal > .center > form > .forgot-password {
  color: #424645;
  display: block;
  text-align: end;
  font-size: 0.9em;
  margin-bottom: 0.7em;
}
.modal > .center > form > button {
  width: 100%;
}
.modal > .center > form > button:first-of-type {
  margin-top: 1em;
}
.modal > .center > form > .another-choice {
  display: block;
  margin: 1.5em 0;
  color: #676767;
  text-align: center;
  position: relative;
}
.modal > .center > form > .another-choice > .text {
  display: block;
  background-color: white;
  margin: auto;
  width: fit-content;
  padding: 0 1em;
  position: relative;
  z-index: 99;
}
.modal > .center > form > .another-choice > .line {
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #676767;
}
@keyframes modal-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-area {
  width: fit-content;
  margin: 1em auto;
  border-radius: 15px;
}
.profile-area > h1 {
  margin-bottom: 1em;
  color: #424645;
}
.profile-area > img {
  margin: auto;
  display: block;
  width: 12em;
  border-radius: 100px;
  margin-bottom: 1em;
}
.profile-area > h2 {
  text-align: center;
  margin-bottom: 1em;
  font-family: "poppins-regular", sans-serif;
}
.profile-area > h3 {
  padding: 0.5em 0.8em;
  border: 1px solid #222524;
  border-radius: 15px;
  margin: 0.5em 0;
  font-size: 1em;
}
.profile-area > h3 > span {
  font-weight: normal;
  font-family: "poppins-regular", sans-serif;
  color: #424645;
}
.profile-area > .edit {
  margin-top: 1em;
  margin-left: auto;
  display: block;
}

header#backoffice {
  background-color: #222524;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 2em;
  color: white;
}
header#backoffice a {
  color: white;
  text-decoration: none;
}
header#backoffice > a > img {
  width: 10em;
  filter: invert(1);
}
header#backoffice > nav > ul {
  list-style: none;
}
header#backoffice > nav > ul > li > a {
  transition: 0.5s ease all;
}
header#backoffice > nav > ul > li > a:hover {
  color: #ffd6bb;
}
header#backoffice > aside {
  display: flex;
  align-items: center;
  gap: 1em;
}
header#backoffice > aside > a > button {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  position: relative;
  padding-right: 2.8em;
}
header#backoffice > aside > a > button > .mdi {
  font-size: 1.8em;
  position: absolute;
  top: 20%;
  right: 10px;
}
header#backoffice > aside > a > button:hover {
  background-color: white;
  color: #222524;
}
header#backoffice > aside > #profile {
  position: relative;
}
header#backoffice > aside > #profile > .infos {
  display: flex;
  gap: 1em;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-right: 2.5em;
}
header#backoffice > aside > #profile > .infos > img {
  width: 2.5em;
  border-radius: 100px;
}
header#backoffice > aside > #profile > .infos > .mdi {
  font-size: 1.4em;
  position: absolute;
  right: 10px;
  top: 20%;
}
header#backoffice > aside > #profile > .dropdown {
  position: absolute;
  top: 3em;
  width: 100%;
  display: none;
  background-color: #222524;
  border-radius: 10px;
  padding: 0.4em 0;
  box-shadow: -1px 2px 3px rgba(102, 102, 102, 0.2588235294);
}
header#backoffice > aside > #profile > .dropdown * {
  color: white;
}
header#backoffice > aside > #profile > .dropdown > ul {
  list-style: none;
}
header#backoffice > aside > #profile > .dropdown > ul > li {
  cursor: pointer;
}
header#backoffice > aside > #profile > .dropdown > ul > li:hover {
  background-color: #424645;
  transition: 0.5s all ease;
}
header#backoffice > aside > #profile > .dropdown > ul > li:hover > form > button {
  color: #ffd6bb;
}
header#backoffice > aside > span.owner {
  border-radius: 10px;
  color: #804e2e;
  background-color: #ffd6bb;
  font-family: "poppins-medium", sans-serif;
  padding: 0.3em 0.8em;
  font-size: 0.9em;
}
