body {
    background-color: rgb(65, 255, 27);
    margin:4em
}   

.liste_reservation_proprietaire_recherche,.liste_reservation_proprietaire_recherche > div{
    display: flex;
    flex-direction: row;
}

.liste_reservation_proprietaire_recherche > div textarea {
    resize: none;
}

.liste_reservation_proprietaire{
    /* margin: 2em; */
    padding: 0.5em 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;    
    border: solid yellow 1px;
    border-radius: 20px;
    border-color: 804E2E;
}

.liste_reservation_proprietaire > article > img {
    width: 20%;
    border-radius: 15px;
    margin-right: 1em;
} 

.liste_reservation_proprietaire article {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

/* .liste_reservation_proprietaire article article > div > p{
    display: inline
}  */

.liste_reservation_proprietaire article + article div {
    margin: 0 3em;

}