@mixin renderButton($primary-1, $primary-2, $primary-3, $color) {
    &:is(.primary, .secondary):not(:disabled):focus {
        box-shadow: 0 0 0 3px $primary-3;
       }
   
       &.primary:disabled, &.secondary:disabled {
           opacity: 60%;
           cursor: unset;
       }
       &.primary {
           background-color: $primary-1;
           color: $white;
   
           &:not(:disabled):is(:hover, :focus) {
               background-color: $primary-2;
           }
       }
       &.secondary {
           border: 1px solid $primary-1;
           color: $primary-1;
   
           &:not(:disabled):is(:hover, :focus) {
               background-color: $primary-1;
               color: $white;
           }
       }
}

button {
    transition: all .5s ease;
    font-family: "comfortaa-regular", sans-serif;
    font-size: 1em;
    
    background-color: transparent;
    border: unset;
    
    cursor: pointer;
    
    border-radius: 100px;
    padding: 1em 2.5em;

    &.primary, &.secondary {
        @include renderButton(
            $primary-frontoffice-1,
            $primary-frontoffice-2,
            $primary-frontoffice-3,
            $white
        );
    }

    &.backoffice {
        @include renderButton(
            $primary-backoffice-1,
            $primary-backoffice-2,
            $primary-backoffice-3,
            $black
        );
    }

    &.tertiary.backoffice {
        color: $primary-backoffice-1;
        background-color: $primary-backoffice-4;

        &.disabled {
            opacity: 60%;
            cursor: unset;
        }

        &:not(:disabled):is(:hover, :focus) {
            background-color: $primary-backoffice-3;
            color: $white;
        }
    }
}