$fonts: (
    "comfortaa-bold",
    "comfortaa-light",
    "comfortaa-medium",
    "comfortaa-regular",
    "comfortaa-semibold",
    "poppins-semibold",
    "poppins-bold",
    "poppins-light",
    "poppins-medium",
    "poppins-regular"
);

@each $font in $fonts {
    @font-face {
        font-family: $font;
        src: url(../fonts/#{$font}.ttf);
    }
}

@font-face {
    font-family: "Material Design Icons";
    src: url(../../assets/fonts/materialdesignicons-webfont.ttf);
}

@each $font in $fonts {
    @font-face {
        font-family: $font;
        src: url(../../assets/fonts/#{$font}.ttf);
    }
}