@charset "UTF-8";
*,
*::after,
*::before {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "comfortaa-bold";
  src: url(../../fonts/comfortaa-bold.ttf);
}
@font-face {
  font-family: "comfortaa-light";
  src: url(../../fonts/comfortaa-light.ttf);
}
@font-face {
  font-family: "comfortaa-medium";
  src: url(../../fonts/comfortaa-medium.ttf);
}
@font-face {
  font-family: "comfortaa-regular";
  src: url(../../fonts/comfortaa-regular.ttf);
}
@font-face {
  font-family: "comfortaa-semibold";
  src: url(../../fonts/comfortaa-semibold.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(../../fonts/poppins-bold.ttf);
}
@font-face {
  font-family: "poppins-light";
  src: url(../../fonts/poppins-light.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(../../fonts/poppins-medium.ttf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(../../fonts/poppins-regular.ttf);
}
@font-face {
  font-family: "Material Design Icons";
  src: url(../../../assets/fonts/materialdesignicons-webfont.ttf);
}
body {
  font-family: "comfortaa-regular", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "poppins-regular";
}

main {
  margin-left: 2em;
}

main > div {
  display: flex;
}
main > div button {
  background-color: white;
  border: none;
}
main > div .mdi.mdi-chevron-right {
  position: relative;
  top: 1px;
  font-size: 1.3em;
}
main > div #cheminPage {
  display: flex;
  margin-left: 1em;
  align-items: center;
}
main > div a {
  color: #1b5734;
}
main > div h4 {
  color: #424645;
  font-weight: normal;
}
main > div #page {
  display: flex;
  margin-top: 1em;
}

#imgLogement {
  width: 38em;
  height: 26em;
  border-radius: 13px;
}

#blockIntro {
  display: flex;
}
#blockIntro > div {
  margin-left: 2.2em;
}
#blockIntro #titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#blockIntro #titre h1 {
  font-size: 1.7em;
  margin: 0;
  color: #424645;
}
#blockIntro #titre #noteLogement {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #1b5734;
  background-color: #F6FFFA;
  color: #1b5734;
  border-radius: 13px;
  height: 1.5em;
  width: 3.2em;
}
#blockIntro h2 {
  font-family: "comfortaa-regular";
  margin: 0.6em 0 1em 0;
  color: #676767;
  font-size: 1em;
}
#blockIntro #caracteristiques-logement {
  display: flex;
}
#blockIntro #caracteristiques-logement ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 300px 1fr;
  place-items: center start;
  margin-top: 1.6em;
  border: solid 1px #eaeaea;
  border-radius: 17px;
  padding: 1em;
}
#blockIntro #caracteristiques-logement .bulle-Rose {
  background-color: #ffd6bb;
  border-radius: 14.5px;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  margin: 0.2em 0;
}

#description h3 {
  color: #676767;
  font-size: 0.8em;
  margin: 1.7em 0 0.5em 0;
}
#description div {
  display: flex;
  align-items: center;
  margin-top: 0.7em;
}
#description div h3 {
  margin: 0;
}
#description div img {
  width: 3.5em;
}

#box-Activites-Amenagement {
  display: flex;
  justify-content: center;
}
#box-Activites-Amenagement > div {
  display: flex;
  box-shadow: 0 0 4px 2px rgba(173, 173, 173, 0.1333333333);
  border-radius: 15px;
  margin: 1em 0;
  padding: 1em;
  width: fit-content;
}
#box-Activites-Amenagement > div div {
  margin: 1em 0 0 1em;
}
#box-Activites-Amenagement > div > div:first-child {
  border-right: solid 2px #676767;
}
#box-Activites-Amenagement > div div + div {
  margin-left: 3em;
}
#box-Activites-Amenagement > div div + div ul {
  grid-template-columns: 180px 1fr;
}
#box-Activites-Amenagement ul {
  display: grid;
  grid-template-columns: 283px 1fr;
  list-style-type: none;
  margin: 1em 3em 0 0;
}
#box-Activites-Amenagement ul li {
  margin-top: 1em;
}
#box-Activites-Amenagement ul li span {
  font-size: 1.8em;
  color: #424645;
}

aside {
  margin: 0 2em;
  width: 75%;
}
aside #profilPropriétaire {
  display: flex;
  align-items: center;
  border: solid 1px #eaeaea;
  border-radius: 13px;
  height: 5em;
  margin-bottom: 1em;
}
aside #profilPropriétaire > div {
  margin-left: 10px;
}
aside #profilPropriétaire > div h4 {
  font-weight: normal;
  color: #424645;
  margin: 0;
}
aside #profilPropriétaire > div .note {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
aside #profilPropriétaire > div span {
  margin: 0;
  color: #1b5734;
}
aside #profilPropriétaire > div span #nbAvis {
  font-size: 0.8em;
}
aside #profilPropriétaire img {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin-left: 10px;
}
aside #box-reservation {
  border: solid 1px #eaeaea;
  border-radius: 13px;
  padding: 2em;
}
aside #box-reservation h2 {
  color: #424645;
  text-align: center;
}
aside #box-reservation .line {
  border: solid 1px #eaeaea;
  margin: 1em 0;
}
aside #box-reservation > button {
  border: solid 1px #424645;
  border-radius: 10px;
  padding: 0.2em 0;
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside #box-reservation > button span {
  color: #424645;
}
aside #box-reservation > button span:first-child {
  margin-right: 0.5em;
}
aside #box-reservation > button .mdi.mdi-calendar-month {
  font-size: 1.6em;
}
aside #box-reservation > button + div {
  display: flex;
  justify-content: space-around;
}
aside #box-reservation > button + div div h4 {
  color: #676767;
  text-align: center;
  font-size: 0.8em;
}
aside #box-reservation > button + div div h3 {
  color: #424645;
  font-size: 0.9em;
}
aside #box-reservation div button {
  border: none;
  background-color: #E0FFEE;
  border-radius: 50%;
  padding: 0 0.4em;
}/*# sourceMappingURL=detailsLogement.css.map */