/* À CHANGER PLUS TARD, POUR GARDER LE FOOTER EN BAS DE PAGE */
body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

a {
   text-decoration: none;
   &:visited {
      color: black;
   }
}

#image-cover {
   height: 250px;
   background-image: url("../../images/image-cover.png");
   border-radius: 1em;
   margin: 1em 2.5em;
   padding: 2em;
   color: white;
}

#search-bar {
   width: 50em;
   padding: 0.5em;
   margin: 0 auto;
   input {
       border: none;
       background-color: $secondary-3;
       padding: 1em;
       border-radius: 1em;
   }
}